.App {
  text-align: center;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#quote-box {
  background-color: #282c34;
  width: 80%;
  height: auto;
  color: white;
}

#card-footer {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

#new-quote {
  color: white;
}

#new-quote:hover {
  background-color: #3c424f;
}

#twitter-icon {
  vertical-align: middle;
  padding: 6px;
  color: white;
  border-color: #282c34;
  transition: 0.2s all ease;
}

#twitter-icon:hover {
  background-color: #3c424f;
}

@media all and (min-width: 992px) {
  #quote-box {
    width: 50%;
  }
}